body {
    background-color: #5d6976;
    margin: 0px; 
    text-align:left;
}
#knoppen{
    background-image: url("Header2.jpg");
    height: 140px;
    text-align:center;
}
#basis {
    text-align:center;
} 

#basis h1 {
	margin-block-start: 0px;
    padding-top: 30px;
	color: rgb(66, 0, 128);
	margin-bottom: 0;
}

#basis div {
    margin-top: 0px;
}

.blauwebox {
    width:1000px;
    margin: auto;
	background-color:#B7B7B7;
    margin-top: 30px;
	margin-bottom: 60px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: verdana, sans-serif;
    font-size: 15px;
    align-content: center;
}     



#footer {
    position: fixed;
    width: 100%;
    background-color:#B7B7B7;
    color: white;
    bottom: 0px;
    text-align: center;
}

.blauwebox h2{
    font-size: 20px;
}

.labelSelect form{
    margin-left: 5pt;
}